body {
    margin: 0;
    box-sizing: border-box;
    background-color: gray;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#main {
    background-color: rgb(155, 153, 153);
    height: 100vh;
    max-width: 1720px;
    margin: 0 auto;
}

header h1 {
    background-color: rgb(223, 248, 134);
    margin-top: 0;
}

#container {
    margin: 0 auto;
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    border: 2px solid black;
}
.grid-item {
    border: 1px solid black;
    text-align: center;
}

.background {
    background-color: black;
}