body {
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(228, 227, 228);
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

header h1 {
    background-color: rgb(146, 15, 161);
    color: white;
    margin-top: 0;
    text-align: center;
    font-size: 50px;
}

.main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    max-width: 1200px;
    margin: 0 auto;
}

.settings {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#container {
    /* margin: 0 auto; */
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), auto);
    grid-template-rows: repeat(var(--grid-rows), auto);
    border: 4px solid rgb(223, 223, 223);
    background-color: #fff;
    box-shadow: 0 0 20px 7px rgb(175, 98, 171);
}
.grid-item {
    border: 1px solid black;
    text-align: center;
}

.background {
    background-color: black;
}

.red {
    background-color: red;
}

#rangeDisplay {
    text-align: center;
}